* {
    box-sizing: border-box;
    font-family: 'Segoe UI';
    transition: all 0.2s ease;
}

p,
a,
h1,
h2,
h3,
h4,
ul,
ol,
li {
    margin: 0;
}

body {
    margin: 0;
    height: 100vh;
}

.task-planner {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    margin-top: 50px;
}

.planner {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: auto;
    margin: 20px;
    gap: 30px;
    justify-self: center;
    align-self: center;
    border: 3px solid #000;
    border-radius: 30px;
    box-shadow: 0px 5px 0px #000;
    background-color: #fff;
    padding: 30px;
}

.input-tarefa {
    border-radius: 30px;
    padding: 10px;
    border: 3px solid #000;
    box-shadow: 0px 5px 0px #000;
    cursor: pointer;
}

.input-tarefa:focus {
    box-shadow: 0px 0px 0px #000;
    translate: 0px 5px;
    outline: none;
    background-color: #dbdbdb;
    cursor: text;
}

.botao-adicionar {
    border-radius: 20px;
    padding: 10px;
    max-width: 150px;
    display: flex;
    align-self: center;
    border: 3px solid #000;
    box-shadow: 0px 5px 0px #000;
    cursor: pointer;
}

.botao-adicionar:hover {
    box-shadow: 0px 0px 0px #000;
    translate: 0px 5px;
    background-color: #dbdbdb;
    outline: none;
}

.mensagem {
    display: flex;
    align-self: center;
    background-color: #dbdbdb;
    border: 3px solid #000;
    border-radius: 20px;
    padding: 20px;
    font-weight: bold;
    opacity: 0;
}

.mensagem.sucesso {
    background-color: #26a01b;
    color: #fff;
    opacity: 1;
}

.mensagem.erro {
    background-color: #d12727;
    color: #fff;
    opacity: 1;
}

.mensagem.limpar {
    background-color: #169957;
    color: #fff;
    opacity: 1;
}

.lista-tarefas {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff;
    padding: 15px;
    gap: 20px;
    max-height: 400px;
    min-height: 200px;
    overflow-y: scroll;
    list-style: none;
    border: 3px solid #000;
    border-radius: 5px;
    box-shadow: 0px 5px 0px #000;
}

::-webkit-scrollbar {
    position: absolute;
}

.nova-tarefa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: inherit;
    padding: 10px;
    border: 3px solid #000;
    border-radius: 20px;
    translate: 7px 0px;
}

.nova-tarefa.concluida {
    background-color: #67d19c;
    color: #ffffff;
}

.nova-tarefa p {
    font-size: 20px;
}

.nova-tarefa.concluida p {
    text-decoration: line-through;
    color: #b9fdca;
}

.nova-tarefa.concluida .novo-prazo {
    background-color: #67d19c;
    color: #b9fdca;
}

.divisao {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.novo-prazo {
    border: 3px solid #000;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 3px 0px #000;
    cursor: pointer;
}

.novo-prazo::before {
    content: 'Prazo: ';
    font-weight: bold;
    margin-right: 5px;
}

.botoes {
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
}

.novo-status {
    appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: #c0c0c0;
    border: 3px solid #000;
    border-radius: 100%;
    box-shadow: 0px 3px 0px #000;
    width: 40px;
    height: 40px;
    padding: 10px;
    margin: 0;
    cursor: pointer;
    color: black;
}

.novo-status::after {
    content: "\f00c";
    font-family: "Font Awesome 6 Free";
    font-weight: bolder;
    color: #fff;
}

.novo-status:checked {
    background-color: #3ca84e;
    outline: none;
}

.novo-status:hover {
    translate: 0px 3px;
    box-shadow: 0px 0px 0px #000;
}

.botao-remover {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: #d12727;
    color: #fff;
    border: 3px solid #000;
    border-radius: 100%;
    box-shadow: 0px 3px 0px #000;
    width: 40px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
}

.botao-remover:hover {
    translate: 0px 3px;
    box-shadow: 0px 0px 0px #000;
}

.botao-editar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: #2771d1;
    color: #fff;
    border: 3px solid #000;
    border-radius: 100%;
    box-shadow: 0px 3px 0px #000;
    width: 40px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
}

.botao-editar:hover {
    translate: 0px 3px;
    box-shadow: 0px 0px 0px #000;
}

.botao-limpar {
    display: none;
    border: 3px solid #000;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 5px 0px #000;
    background-color: #ad2222;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.botao-limpar:hover {
    translate: 0px 5px;
    box-shadow: 0px 0px 0px #000;
}

@media (max-width: 550px) {
    .planner {
        width: 400px;
        padding: 20px;
    }

    .lista-tarefas {
        padding: 15px;
    }
}

@media (max-width: 450px) {
    .planner {
        width: 350px;
    }
}

@media (max-width: 400px) {
    .planner {
        width: 300px;
    }
}